In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
%matplotlib inline

from matplotlib import pyplot
from scipy import stats

from pandas import DataFrame

url = "raw_gene_bc_matrices/mm10"

barcodes = DataFrame.from_csv(url + "/barcodes.tsv")

print(barcodes)


genes = DataFrame.from_csv(url + "/genes.tsv")

print(genes)
from scipy.io import mminfo,mmread
mminfo(url + "/matrix.mtx")

# matrix = mmread("matrices_mex/hg19/matrix.mtx")

Empty DataFrame
Columns: []
Index: [AAACCTGAGAAACCGC-1, AAACCTGAGAAACCTA-1, AAACCTGAGAAACGAG-1, AAACCTGAGAAACGCC-1, AAACCTGAGAAAGTGG-1, AAACCTGAGAACAACT-1, AAACCTGAGAACAATC-1, AAACCTGAGAACTCGG-1, AAACCTGAGAACTGTA-1, AAACCTGAGAAGAAGC-1, AAACCTGAGAAGATTC-1, AAACCTGAGAAGCCCA-1, AAACCTGAGAAGGACA-1, AAACCTGAGAAGGCCT-1, AAACCTGAGAAGGGTA-1, AAACCTGAGAAGGTGA-1, AAACCTGAGAAGGTTT-1, AAACCTGAGAATAGGG-1, AAACCTGAGAATCTCC-1, AAACCTGAGAATGTGT-1, AAACCTGAGAATGTTG-1, AAACCTGAGAATTCCC-1, AAACCTGAGAATTGTG-1, AAACCTGAGACAAAGG-1, AAACCTGAGACAAGCC-1, AAACCTGAGACAATAC-1, AAACCTGAGACACGAC-1, AAACCTGAGACACTAA-1, AAACCTGAGACAGACC-1, AAACCTGAGACAGAGA-1, AAACCTGAGACAGGCT-1, AAACCTGAGACATAAC-1, AAACCTGAGACCACGA-1, AAACCTGAGACCCACC-1, AAACCTGAGACCGGAT-1, AAACCTGAGACCTAGG-1, AAACCTGAGACCTTTG-1, AAACCTGAGACGACGT-1, AAACCTGAGACGCAAC-1, AAACCTGAGACGCACA-1, AAACCTGAGACGCTTT-1, AAACCTGAGACTAAGT-1, AAACCTGAGACTACAA-1, AAACCTGAGACTAGAT-1, AAACCTGAGACTAGGC-1, AAACCTGAGACTCGGA-1, AAACCTGAGACTGGGT-1, AAACCTGAGACTGTAA-1, AAACCTGAGACTTGAA-1, AAACCTGAGACTTTCG-1, AAACCTGAGAGAACAG-1, AAACCTGAGAGACGAA-1, AAACCTGAGAGACTAT-1, AAACCTGAGAGACTTA-1, AAACCTGAGAGAGCTC-1, AAACCTGAGAGATGAG-1, AAACCTGAGAGCAATT-1, AAACCTGAGAGCCCAA-1, AAACCTGAGAGCCTAG-1, AAACCTGAGAGCTATA-1, AAACCTGAGAGCTGCA-1, AAACCTGAGAGCTGGT-1, AAACCTGAGAGCTTCT-1, AAACCTGAGAGGACGG-1, AAACCTGAGAGGGATA-1, AAACCTGAGAGGGCTT-1, AAACCTGAGAGGTACC-1, AAACCTGAGAGGTAGA-1, AAACCTGAGAGGTTAT-1, AAACCTGAGAGGTTGC-1, AAACCTGAGAGTAAGG-1, AAACCTGAGAGTAATC-1, AAACCTGAGAGTACAT-1, AAACCTGAGAGTACCG-1, AAACCTGAGAGTCGGT-1, AAACCTGAGAGTCTGG-1, AAACCTGAGAGTGACC-1, AAACCTGAGAGTGAGA-1, AAACCTGAGAGTTGGC-1, AAACCTGAGATACACA-1, AAACCTGAGATAGCAT-1, AAACCTGAGATAGGAG-1, AAACCTGAGATAGTCA-1, AAACCTGAGATATACG-1, AAACCTGAGATATGCA-1, AAACCTGAGATATGGT-1, AAACCTGAGATCACGG-1, AAACCTGAGATCCCAT-1, AAACCTGAGATCCCGC-1, AAACCTGAGATCCGAG-1, AAACCTGAGATCCTGT-1, AAACCTGAGATCGATA-1, AAACCTGAGATCGGGT-1, AAACCTGAGATCTGAA-1, AAACCTGAGATCTGCT-1, AAACCTGAGATGAGAG-1, AAACCTGAGATGCCAG-1, AAACCTGAGATGCCTT-1, AAACCTGAGATGCGAC-1, AAACCTGAGATGGCGT-1, ...]

[737279 rows x 0 columns]
Empty DataFrame
Columns: []
Index: [mm10_ENSMUSG00000089699	mm10_Gm1992, mm10_ENSMUSG00000102343	mm10_Gm37381, mm10_ENSMUSG00000025900	mm10_Rp1, mm10_ENSMUSG00000109048	mm10_Rp1, mm10_ENSMUSG00000025902	mm10_Sox17, mm10_ENSMUSG00000104328	mm10_Gm37323, mm10_ENSMUSG00000033845	mm10_Mrpl15, mm10_ENSMUSG00000025903	mm10_Lypla1, mm10_ENSMUSG00000104217	mm10_Gm37988, mm10_ENSMUSG00000033813	mm10_Tcea1, mm10_ENSMUSG00000002459	mm10_Rgs20, mm10_ENSMUSG00000085623	mm10_Gm16041, mm10_ENSMUSG00000033793	mm10_Atp6v1h, mm10_ENSMUSG00000025905	mm10_Oprk1, mm10_ENSMUSG00000033774	mm10_Npbwr1, mm10_ENSMUSG00000025907	mm10_Rb1cc1, mm10_ENSMUSG00000090031	mm10_4732440D04Rik, mm10_ENSMUSG00000087247	mm10_Fam150a, mm10_ENSMUSG00000033740	mm10_St18, mm10_ENSMUSG00000051285	mm10_Pcmtd1, mm10_ENSMUSG00000097797	mm10_Gm26901, mm10_ENSMUSG00000103067	mm10_Gm30414, mm10_ENSMUSG00000025909	mm10_Sntg1, mm10_ENSMUSG00000061024	mm10_Rrs1, mm10_ENSMUSG00000025911	mm10_Adhfe1, mm10_ENSMUSG00000067879	mm10_3110035E14Rik, mm10_ENSMUSG00000099827	mm10_Gm29520, mm10_ENSMUSG00000025912	mm10_Mybl1, mm10_ENSMUSG00000045210	mm10_Vcpip1, mm10_ENSMUSG00000097893	mm10_1700034P13Rik, mm10_ENSMUSG00000025915	mm10_Sgk3, mm10_ENSMUSG00000046101	mm10_Mcmdc2, mm10_ENSMUSG00000098234	mm10_Snhg6, mm10_ENSMUSG00000099032	mm10_Tcf24, mm10_ENSMUSG00000025916	mm10_Ppp1r42, mm10_ENSMUSG00000087199	mm10_Gm15818, mm10_ENSMUSG00000025917	mm10_Cops5, mm10_ENSMUSG00000056763	mm10_Cspp1, mm10_ENSMUSG00000067851	mm10_Arfgef1, mm10_ENSMUSG00000042501	mm10_Cpa6, mm10_ENSMUSG00000048960	mm10_Prex2, mm10_ENSMUSG00000057715	mm10_A830018L16Rik, mm10_ENSMUSG00000097171	mm10_Gm17644, mm10_ENSMUSG00000101314	mm10_Gm29663, mm10_ENSMUSG00000016918	mm10_Sulf1, mm10_ENSMUSG00000025938	mm10_Slco5a1, mm10_ENSMUSG00000099498	mm10_Gm29283, mm10_ENSMUSG00000042414	mm10_Prdm14, mm10_ENSMUSG00000005886	mm10_Ncoa2, mm10_ENSMUSG00000101476	mm10_Gm29570, mm10_ENSMUSG00000025935	mm10_Tram1, mm10_ENSMUSG00000025937	mm10_Lactb2, mm10_ENSMUSG00000067813	mm10_Xkr9, mm10_ENSMUSG00000025932	mm10_Eya1, mm10_ENSMUSG00000054493	mm10_Gm9947, mm10_ENSMUSG00000025930	mm10_Msc, mm10_ENSMUSG00000032769	mm10_Trpa1, mm10_ENSMUSG00000092083	mm10_Kcnb2, mm10_ENSMUSG00000025925	mm10_Terf1, mm10_ENSMUSG00000032719	mm10_Sbspon, mm10_ENSMUSG00000067795	mm10_4930444P10Rik, mm10_ENSMUSG00000043716	mm10_Rpl7, mm10_ENSMUSG00000025921	mm10_Rdh10, mm10_ENSMUSG00000100868	mm10_Gm28095, mm10_ENSMUSG00000025920	mm10_Stau2, mm10_ENSMUSG00000089982	mm10_Gm7568, mm10_ENSMUSG00000025939	mm10_Ube2w, mm10_ENSMUSG00000079658	mm10_Tceb1, mm10_ENSMUSG00000097744	mm10_D030040B21Rik, mm10_ENSMUSG00000025940	mm10_Tmem70, mm10_ENSMUSG00000025779	mm10_Ly96, mm10_ENSMUSG00000101640	mm10_Gm28376, mm10_ENSMUSG00000042686	mm10_Jph1, mm10_ENSMUSG00000100110	mm10_Gm28783, mm10_ENSMUSG00000025777	mm10_Gdap1, mm10_ENSMUSG00000099899	mm10_Gm28784, mm10_ENSMUSG00000067780	mm10_Pi15, mm10_ENSMUSG00000100053	mm10_Gm28154, mm10_ENSMUSG00000085125	mm10_Gm16070, mm10_ENSMUSG00000025776	mm10_Crispld1, mm10_ENSMUSG00000099895	mm10_Gm28153, mm10_ENSMUSG00000025774	mm10_Crisp4, mm10_ENSMUSG00000073735	mm10_Defb18, mm10_ENSMUSG00000067773	mm10_Defb41, mm10_ENSMUSG00000101738	mm10_Gm29006, mm10_ENSMUSG00000089787	mm10_Gm15825, mm10_ENSMUSG00000042596	mm10_Tfap2d, mm10_ENSMUSG00000025927	mm10_Tfap2b, mm10_ENSMUSG00000100538	mm10_Gm28340, mm10_ENSMUSG00000043760	mm10_Pkhd1, mm10_ENSMUSG00000089914	mm10_4930486I03Rik, mm10_ENSMUSG00000099906	mm10_Gm28653, mm10_ENSMUSG00000025929	mm10_Il17a, mm10_ENSMUSG00000041872	mm10_Il17f, mm10_ENSMUSG00000041859	mm10_Mcm3, mm10_ENSMUSG00000102121	mm10_Gm28065, mm10_ENSMUSG00000097934	mm10_6720483E21Rik, mm10_ENSMUSG00000025931	mm10_Paqr8, mm10_ENSMUSG00000041809	mm10_Efhc1, mm10_ENSMUSG00000041779	mm10_Tram2, ...]

[27997 rows x 0 columns]

(27998, 737280, 378927, 'coordinate', 'integer', 'general')

In [5]:
matrix = mmread(url+"/matrix.mtx")

In [12]:
coo = matrix.tocoo(copy=False)
df = pd.DataFrame({'index': coo.row, 'col': coo.col, 'data': coo.data}
                 )[['index', 'col', 'data']].sort_values(['index', 'col']
                 ).reset_index(drop=True)

In [13]:
df

        index     col  data
0           7    5417     3
1           7    9824     5
2           7   16616     1
3           7   18632     5
4           7   28075     7
5           7   42775     5
6           7   64092     6
7           7   65282     1
8           7   74924     1
9           7   88318     1
10          7   92011     1
11          7   93272     6
12          7  106752     2
13          7  107941     8
14          7  133416     1
15          7  145540     5
16          7  160037     1
17          7  164058     1
18          7  174766     1
19          7  176594     2
20          7  191699    11
21          7  248437     3
22          7  263389     4
23          7  263929     3
24          7  272065     1
25          7  278803     3
26          7  288394     9
27          7  299978     1
28          7  301488     1
29          7  304729     1
...       ...     ...   ...
378897  27994  598935     1
378898  27994  599885     1
378899  27994  616555     1
378900  27994  618457     2
378901  27994  626408     1
378902  27994  719434     2
378903  27994  729980     1
378904  27995    5417     2
378905  27995   64092     1
378906  27995   65282     1
378907  27995   78182     1
378908  27995   92011     1
378909  27995  107941     1
378910  27995  191699     1
378911  27995  278803     1
378912  27995  345634     1
378913  27995  357157     1
378914  27995  417512     1
378915  27995  428448     1
378916  27995  445770     1
378917  27995  470602     1
378918  27995  474344     1
378919  27995  534271     1
378920  27995  568757     1
378921  27995  576225     1
378922  27995  594136     1
378923  27995  594596     1
378924  27995  616555     1
378925  27995  618457     1
378926  27995  663354     1

[378927 rows x 3 columns]